<?xml version="1.0"?>
<connectionStrings>
  <add name="AppDbContext2" providerName="System.Data.SqlClient" connectionString="Application Name=MyAppName;Connection Timeout=15;pooling=true;Data Source=dev2.db.example.com;Initial Catalog=App1Db2;Integrated Security=True;MultipleActiveResultSets=True" />
  <add name="AppDbContext3" providerName="System.Data.SqlClient" connectionString="Application Name=MyAppName;Connection Timeout=15;pooling=true;Data Source=dev3.db.example.com;Initial Catalog=App1Db3;Integrated Security=True;MultipleActiveResultSets=True" />
</connectionStrings>